<% if flash[:notice] %>
<div class="notice"><%= flash[:notice] %></div>
<% end %>

<h1>User: <%=@user.name%></h1>

<h2>Mood: <%=@user.mood%></h2>

<h2>Tickets: <%=@user.tickets%></h2>

<h2>Height: <%=@user.height%></h2>

<h2>Status: <%=@user.owner_status%></h2>

<%= link_to "See attractions", attractions_path%>

<p><%= link_to "Log Out", sessions_destroy_path%></p>
